<h3>User List</h3>
<table st-table="rowCollection" class="table table-striped">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>User Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Role(Admin)</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of users">
      <td>{{row.email}}</td>
      <td>{{row.username}}</td>
      <td>{{row.firstname}}</td>
      <td>{{row.lastname}}</td>
      <td>
        <mat-slide-toggle color="warn" (change)="onRoleChange(row)" [checked]="row.role === 'admin'">
        </mat-slide-toggle>
      </td>
      <td>
        <mat-slide-toggle color="primary" (change)="onStatusChange(row)" [checked]="row.active"></mat-slide-toggle>
      </td>
    </tr>
  </tbody>
</table>
<hr />
<h3>Category List</h3>
<div>
  <a *ngFor="let row of categories">
    <td>{{row.name}} | </td>
  </a>
</div>

<br><br><br><br>
<form [formGroup]="myForm">
  <div class="form-group">
    <input type="text" formControlName="name" class="form-control" />
    <span *ngIf="myForm.get('name').errors">Category exist!</span>
  </div>
  <div class="form-group">
    <span>
      <button [disabled]="!myForm.valid" class="btn btn-primary" (click)="addCategory(myForm.get('name'))">
        Add
      </button></span> -
    <span>
      <button [disabled]="myForm.valid" class="btn btn-primary" (click)="deleteCategory(myForm.get('name'))">
        Delete
      </button>
    </span>
  </div>
</form>
