




<div class="post-list-background">
  <div [ngStyle]="{'width':'100%'}">
    <div [ngClass]="{'top':true}">
      <button mat-button (click)="openCommentDialog()" mat-flat-button color="accent">TOP</button>
    </div>
    <div [ngClass]="{'category':true}">

      <mat-form-field>
        <mat-label>Choose Category</mat-label>
        <mat-select>
          <mat-option *ngFor="let category of categories" [value]="category.name">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  
 

  <mat-card class=" post-list-card">
    <mat-list>
      <mat-list-item *ngFor="let post of posts$ | async; let num = index"
        [ngStyle]="{'height':'auto','margin-bottom':'10px'}">
        <app-post-list-item [item]="post"></app-post-list-item>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
