<div class=" post-background">

  <mat-card class=" post-card">
    <mat-card-header>

      <mat-card-title>
        <h1>
          {{(postItem$ | async).title}}
        </h1>

      </mat-card-title>

    </mat-card-header>
    <mat-card-header>
      <div [ngStyle]="{'margin-left':'2%','margin-right':'2%'}" mat-card-avatar class="post-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img [ngStyle]="{'width':'95%','margin-left':'2%'}" mat-card-image [src]="(postItem$ | async).img"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div [ngStyle]="{'margin-left':'2%','margin-right':'2%'}"
        [ngClass]="{'post-descrition':true,'post-descrition-less':!isMore,'post-descrition-more':isMore}">
        {{(postItem$ | async).desc}}
      </div>
      <br />
      <button [ngStyle]="{'margin-left':'2%'}" mat-raised-button color="primary"
        (click)="more()">{{moreButtonTitle}}</button>
    </mat-card-content>
    <mat-card-actions [ngStyle]="{'margin-left':'2%'}">

      <button mat-button>LIKE</button>
      <button mat-button>UNLIKE</button>
      <button mat-button (click)="openDialog()">COMMENT</button>
    </mat-card-actions>

    <mat-accordion [ngStyle]="{'position':'relative','margin-left':'2%','margin-right':'2%'}">

      <mat-expansion-panel [ngStyle]='{"position":"relative"}' (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            COMMENDS
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item>Item 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 2</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>


  </mat-card>



</div>
