<div class=" post-background">

  <mat-card class=" post-card">
    <mat-card-header>

      <mat-card-title>
        <h1>
          {{postItem.title}}
        </h1>

      </mat-card-title>

    </mat-card-header>
    <mat-card-header>
      <div [ngStyle]="{'margin-left':'2%','margin-right':'2%'}" mat-card-avatar class="post-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img [ngStyle]="{'width':'95%','margin-left':'2%'}" mat-card-image [src]="postItem.img" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <div [ngStyle]="{'margin-left':'2%','margin-right':'2%'}"
        [ngClass]="{'post-descrition':true,'post-descrition-less':!isMore,'post-descrition-more':isMore}">
        {{postItem.desc}}
      </div>
      <br />
      <button [ngStyle]="{'margin-left':'2%'}" mat-raised-button color="primary"
        (click)="more()">{{moreButtonTitle}}</button>
    </mat-card-content>
    <mat-card-actions [ngStyle]="{'margin-left':'2%'}">

      <button mat-button *ngIf="liked" [ngClass]="{'button-liked':true}" (click)="like()">LIKE({{postItem.likes.length}})</button>
      <button mat-button *ngIf="!liked" [ngClass]="{'button-liked':false}" (click)="like()">LIKE({{postItem.likes.length}})</button>
    

      <button mat-button (click)="openCommentDialog()" mat-flat-button color="accent">COMMENT</button>
    </mat-card-actions>

    <mat-accordion [ngStyle]="{'position':'relative','margin-left':'2%','margin-right':'2%'}">

      <mat-expansion-panel [ngStyle]='{"position":"relative"}' [expanded]="panelOpenState === true"
        (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title >
            COMMENDS
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <div *ngFor="let commend of postItem.commends; let num = index">
            <!-- <mat-list-item [ngStyle]="{'height':'auto','width':'80%', 'overflow': 'hidden'}"> -->

            <mat-card class="example-card">
              <!-- <mat-card-title> -->
              <!-- </mat-card-title> -->
              <h4> {{commend.username}}:</h4>
              <mat-card-content>
                <p>
                  {{ commend.desc}}
                </p>
              </mat-card-content>
              <mat-divider></mat-divider>
            </mat-card>




            <!-- </mat-list-item> -->

          </div>


        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>


  </mat-card>



</div>
